((amex:0.145125,drer:0.151727)0.973773:0.0680755,(trub:0.151177,(((olat:0.127541,nfur:0.120874)0.419545:0.0164812,onil:0.0859074)0.201325:0.0121003,(gacu:0.117125,(ates:0.0689034,(mope:0.0201705,bspl:0.00654619)0.955105:0.0887125)0.651204:0.0237923)0.150831:0.0112944)0.309222:0.0220089)0.973773:0.0680755);

amex	/projects/ferenc.kagan/CNE_PFARs/02_genomes/amex.fa
ates	/projects/ferenc.kagan/CNE_PFARs/02_genomes/ates.fa
bspl	/projects/ferenc.kagan/CNE_PFARs/02_genomes/bspl.fa
drer	/projects/ferenc.kagan/CNE_PFARs/02_genomes/drer.fa
gacu	/projects/ferenc.kagan/CNE_PFARs/02_genomes/gacu.fa
mope	/projects/ferenc.kagan/CNE_PFARs/02_genomes/mope.fa
nfur	/projects/ferenc.kagan/CNE_PFARs/02_genomes/nfur.fa
olat	/projects/ferenc.kagan/CNE_PFARs/02_genomes/olat.fa
onil	/projects/ferenc.kagan/CNE_PFARs/02_genomes/onil.fa
trub	/projects/ferenc.kagan/CNE_PFARs/02_genomes/trub.fa
